## Importing Dependencies

In [1]:
import pandas as pd
import requests
import json

## Storing API Links into variables

In [2]:
api_1 = "https://datamexico.org/api/data?State=19&Year=2018&cube=coneval_gini_mun&drilldowns=Municipality&measures=GINI&parents=true&sparse=false&locale=es"
api_2 = "https://datamexico.org/api/data?State=19&Year=2015&cube=inegi_population&drilldowns=Municipality&measures=Population&parents=false&sparse=false&locale=es"

In [3]:
nation_ids = []
nations = []
states_ids = []
states = []
municipality_ids = []
municipalities = []
ginis = []

c = 0
response = requests.get(api_1)
data = response.json()["data"]
data_length = len(data)
while c < data_length:
    nation_ids.append(data[c]['Nation ID'])
    nations.append(data[c]['Nation'])
    states_ids.append(data[c]['State ID'])
    states.append(data[c]['State'])
    municipality_ids.append(data[c]['Municipality ID'])
    municipalities.append(data[c]['Municipality'])
    ginis.append(data[c]['GINI'])
    c = c + 1

In [4]:
api_1_df = pd.DataFrame({"Nations ID":nation_ids,
                        "Nation":nations,
                        "State ID":states_ids,
                        "State":states,
                        "Municipality ID":municipality_ids,
                        "Municipality":municipalities,
                        "GINI":ginis})
api_1_df.head()

,Nations ID,Nation,State ID,State,Municipality ID,Municipality,GINI
0,mex,México,19,Nuevo León,19001,Abasolo,0.396089
1,mex,México,19,Nuevo León,19002,Agualeguas,0.428212
2,mex,México,19,Nuevo León,19003,Los Aldamas,0.435469
3,mex,México,19,Nuevo León,19004,Allende,0.340558
4,mex,México,19,Nuevo León,19005,Anáhuac,0.383755

In [5]:
api_1_df.to_csv("outputs/dataframe_api_1.csv", index = True)

In [9]:
municipality_id_2 = []
municipality_2 = []
populations = []

c = 0
response = requests.get(api_2)
data_2 = response.json()["data"]
data_length = len(data_2)
while c < data_length:
    municipality_id_2.append(data[c]['Municipality ID'])
    municipality_2.append(data[c]['Municipality'])
    populations.append(data_2[c]["Population"])
    c = c + 1

In [10]:
api_2_df = pd.DataFrame({"Municipality ID":municipality_id_2,
                        "Municipality":municipality_2,
                        "Population":populations})
api_2_df.head()

   Municipality ID Municipality  Population
0            19001      Abasolo        2639
1            19002   Agualeguas        2439
2            19003  Los Aldamas        1292
3            19004      Allende       34353
4            19005      Anáhuac       18194

In [11]:
api_2_df.to_csv("outputs/dataframe_api_2.csv", index = True)

In [13]:
merged_apis = pd.merge(api_1_df, api_2_df, how = "inner")
merged_apis.head()

,Nations ID,Nation,State ID,State,Municipality ID,Municipality,GINI,Population
0,mex,México,19,Nuevo León,19001,Abasolo,0.396089,2639
1,mex,México,19,Nuevo León,19002,Agualeguas,0.428212,2439
2,mex,México,19,Nuevo León,19003,Los Aldamas,0.435469,1292
3,mex,México,19,Nuevo León,19004,Allende,0.340558,34353
4,mex,México,19,Nuevo León,19005,Anáhuac,0.383755,18194
5,mex,México,19,Nuevo León,19006,Apodaca,0.323524,597207
6,mex,México,19,Nuevo León,19007,Aramberri,0.463622,16152
7,mex,México,19,Nuevo León,19008,Bustamante,0.334266,3977
8,mex,México,19,Nuevo León,19009,Cadereyta Jiménez,0.368073,95534
9,mex,México,19,Nuevo León,19010,El Carmen,0.339524,38306
10,mex,México,19,Nuevo León,19011,Cerralvo,0.355913,7757
11,mex,México,19,Nuevo León,19012,Ciénega de Flores,0.312557,42715
12,mex,México,19,Nuevo León,19013,China,0.361397,10835
13,mex,México,19,Nuevo León,19014,Doctor Arroyo,0.490310,34110
14,mex,México,19,Nuevo León,19015,Doctor Coss,0.413523,1632
15,mex,México,19,Nuevo León,19016,Doctor González,0.434400,2861
16,mex,México,19,Nuevo León,19017,Galeana,0.473902,41130
17,mex,México,19,Nuevo León,19018,García,0.349600,247370
18,mex,México,19,Nuevo León,19019,San Pedro Garza García,0.363062,123156
19,mex,México,19,Nuevo León,19020,General Bravo,0.393138,5479
20,mex,México,19,Nuevo León,19021,General Escobedo,0.371774,425148
21,mex,México,19,Nuevo León,19022,General Terán,0.404092,14795
22,mex,México,19,Nuevo León,19023,General Treviño,0.413215,1044
23,mex,México,19,Nuevo León,19024,General Zaragoza,0.448942,6011
24,mex,México,19,Nuevo León,19025,General Zuazua,0.306754,67294
25,mex,México,19,Nuevo León,19026,Guadalupe,0.360587,682880
26,mex,México,19,Nuevo León,19027,Los Herreras,0.439862,1764
27,mex,México,19,Nuevo León,19028,Higueras,0.410315,1511
28,mex,México,19,Nuevo León,19029,Hualahuises,0.382014,6921
29,mex,México,19,Nuevo León,19030,Iturbide,0.433981,3571
30,mex,México,19,Nuevo León,19031,Juárez,0.336111,333481
31,mex,México,19,Nuevo León,19032,Lampazos de Naranjo,0.350161,5238
32,mex,México,19,Nuevo León,19033,Linares,0.380049,79853
33,mex,México,19,Nuevo León,19034,Marín,0.365430,5630
34,mex,México,19,Nuevo León,19035,Melchor Ocampo,0.428854,955
35,mex,México,19,Nuevo León,19036,Mier y Noriega,0.438683,6996
36,mex,México,19,Nuevo León,19037,Mina,0.367668,5326
37,mex,México,19,Nuevo León,19038,Montemorelos,0.364047,60829
38,mex,México,19,Nuevo León,19039,Monterrey,0.387010,1109171
39,mex,México,19,Nuevo León,19040,Parás,0.442122,971
40,mex,México,19,Nuevo León,19041,Pesquería,0.346197,87168
41,mex,México,19,Nuevo León,19042,Los Ramones,0.416500,4469
42,mex,México,19,Nuevo León,19043,Rayones,0.435898,2640
43,mex,México,19,Nuevo León,19044,Sabinas Hidalgo,0.366129,35456
44,mex,México,19,Nuevo León,19045,Salinas Victoria,0.357794,54192
45,mex,México,19,Nuevo León,19046,San Nicolás de los Garza,0.335964,430143
46,mex,México,19,Nuevo León,19047,Hidalgo,0.350697,13836
47,mex,México,19,Nuevo León,19048,Santa Catarina,0.348132,296954
48,mex,México,19,Nuevo León,19049,Santiago,0.349870,42407
49,mex,México,19,Nuevo León,19050,Vallecillo,0.428824,1632
50,mex,México,19,Nuevo León,19051,Villaldama,0.390510,4080

In [14]:
merged_apis.to_csv("outputs/dataframe_merged_apis.csv", index = True)