In [1]:
import pandas as pd

In [2]:
coordinates_path = "../../resources/data/Coordenadas/lat_lon.csv"

In [3]:
coordinates = pd.read_csv(coordinates_path, encoding='latin-1')
coordinates.head()

   LATITUD  LONGITUD     ID
0    26.56   -101.23  19001
1    27.18   -100.32  19002
2    27.03   -100.11  19003
3    26.17   -101.00  19004
4    28.14   -101.07  19005

In [4]:
first_path = "../../resources/data/Relacion ID-Municipios/ID-Municipios.csv"

In [5]:
id_municipality = pd.read_csv(first_path, encoding='latin-1')
id_municipality.head()

      ID    Municipio
0  19001      Abasolo
1  19002   Agualeguas
2  19003  Los Aldamas
3  19004      Allende
4  19005      Anáhuac

In [6]:
approved_df = pd.merge(id_municipality, coordinates, on = "ID", how = "inner")
approved_df

       ID                 Municipio  LATITUD  LONGITUD
0   19001                   Abasolo    26.56   -101.23
1   19002                Agualeguas    27.18   -100.32
2   19003               Los Aldamas    27.03   -100.11
3   19004                   Allende    26.17   -101.00
4   19005                   Anáhuac    28.14   -101.07
5   19006                   Apodaca    26.46   -101.11
6   19007                 Aramberri    25.06   -100.49
7   19008                Bustamante    27.32   -101.30
8   19009         Cadereyta Jiménez    26.35   -101.00
9   19010                 El Carmen    26.55   -101.21
10  19011                  Cerralvo    27.05   -100.36
11  19012         Ciénega de Flores    26.57   -101.10
12  19013                     China    26.42   -100.14
13  19014                Dr. Arroyo    24.40   -101.10
14  19015                  Dr. Coss    26.55   -100.11
15  19016              Dr. González    26.51   -100.56
16  19017                   Galeana    25.49   -101.04
17  19018                    García    26.48   -101.35
18  19019    San Pedro Garza García    26.39   -101.24
19  19020               Gral. Bravo    26.47   -100.10
20  19021            Gral. Escobedo    26.48   -101.19
21  19022               Gral. Terán    26.15   -100.41
22  19023             Gral. Treviño    27.13   -100.29
23  19024            Gral. Zaragoza    24.58   -100.46
24  19025              Gral. Zuazua    26.53   -101.06
25  19026                 Guadalupe    26.40   -101.15
26  19027              Los Herreras    26.54   -100.24
27  19047                   Hidalgo    26.58   -101.26
28  19028                  Higueras    26.57   -101.00
29  19029               Hualahuises    25.53   -100.40
30  19030                  Iturbide    25.43   -100.54
31  19031                    Juárez    26.30   -101.05
32  19032       Lampazos de Naranjo    28.01   -101.30
33  19033                   Linares    25.51   -100.34
34  19034                     Marín    26.52   -101.02
35  19035            Melchor Ocampo    27.03   -100.32
36  19036            Mier y Noriega    24.25   -101.07
37  19037                      Mina    27.00   -101.31
38  19038              Montemorelos    26.11   -100.49
39  19039                 Monterrey    26.39   -101.18
40  19040                     Parás    27.29   -100.31
41  19041                 Pesquería    26.46   -101.03
42  19042               Los Ramones    26.41   -100.37
43  19043                   Rayones    26.01   -101.04
44  19044           Sabinas Hidalgo    27.29   -101.10
45  19045          Salinas Victoria    26.57   -101.17
46  19046  San Nicolás de los Garza    26.45   -101.17
47  19048            Santa Catarina    26.40   -101.27
48  19049                  Santiago    26.25   -101.09
49  19050                Vallecillo    27.39   -100.59
50  19051                Villaldama    27.29   -101.25

In [7]:
approved_df.to_csv("../output/coordinates.csv", index = True)

In [8]:
approved_df.to_json("../output/coordinatesr.js", orient = "records")

In [9]:
approved_df.to_json("../output/coordinatesc.js", orient = "columns")