## Importing Dependencies

In [2]:
import pandas as pd
import requests
import json

## Storing API Links into variables

In [4]:
api_1 = "https://datamexico.org/api/data?State=19&Year=2018&cube=coneval_gini_mun&drilldowns=Municipality&measures=GINI&parents=true&sparse=false&locale=es"
api_2 = "https://datamexico.org/api/data?State=19&Year=2015&cube=inegi_population&drilldowns=Municipality&measures=Population&parents=false&sparse=false&locale=es"

In [26]:
data_keys = list(data[0].keys())
data_keys

['Nation ID',
 'Nation',
 'State ID',
 'State',
 'Municipality ID',
 'Municipality',
 'GINI']

In [46]:
nation_ids = []
nations = []
states_ids = []
states = []
municipality_ids = []
municipalities = []
ginis = []

c = 0
response = requests.get(api_1)
data = response.json()["data"]
data_length = len(data)
while c < data_lenght:
    nation_ids.append(data[c]['Nation ID'])
    nations.append(data[c]['Nation'])
    states_ids.append(data[c]['State ID'])
    states.append(data[c]['State'])
    municipality_ids.append(data[c]['Municipality ID'])
    municipalities.append(data[c]['Municipality'])
    ginis.append(data[c]['GINI'])
    c = c + 1

print(nation_ids)
print(nations)
print(states_ids)
print(states)
print(municipality_ids)
print(municipalities)
print(ginis)

['mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex', 'mex']
['México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México', 'México']
[19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19]
['Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León', 'Nuevo León']
[19001, 19002, 19003, 19004, 19005, 19006, 19007, 19008, 19009, 19010, 19011, 19012, 19013, 19014, 19015, 19016, 19017, 19018, 19019, 19020, 19021, 19022, 19023, 19024, 19025, 19026, 19027, 19028, 19029, 19030, 19031, 19032, 19033, 19034, 19035, 19036, 19037, 19038, 19039, 19040, 19041, 19042, 19043, 19044, 19045, 19046, 19047, 19048, 19049, 19050, 19051]
['Abasolo', 'Agualeguas', 'Los Aldamas', 'Allende', 'Anáhuac', 'Apodaca', 'Aramberri', 'Bustamante', 'Cadereyta Jiménez', 'El Carmen', 'Cerralvo', 'Ciénega de Flores', 'China', 'Doctor Arroyo', 'Doctor Coss', 'Doctor González', 'Galeana', 'García', 'San Pedro Garza García', 'General Bravo', 'General Escobedo', 'General Terán', 'General Treviño', 'General Zaragoza', 'General Zuazua', 'Guadalupe', 'Los Herreras', 'Higueras', 'Hualahuises', 'Iturbide', 'Juárez', 'Lampazos de Naranjo', 'Linares', 'Marín', 'Melchor Ocampo', 'Mier y Noriega', 'Mina', 'Montemorelos', 'Monterrey', 'Parás', 'Pesquería', 'Los Ramones', 'Rayones', 'Sabinas Hidalgo', 'Salinas Victoria', 'San Nicolás de los Garza', 'Hidalgo', 'Santa Catarina', 'Santiago', 'Vallecillo', 'Villaldama']
[0.39608949422836304, 0.4282120019197464, 0.43546900153160095, 0.3405584990978241, 0.38375499844551086, 0.32352350652217865, 0.46362200379371643, 0.3342664986848831, 0.3680734932422638, 0.3395240008831024, 0.3559134900569916, 0.31255699694156647, 0.36139699816703796, 0.4903104901313782, 0.41352300345897675, 0.4344000071287155, 0.47390249371528625, 0.34960000216960907, 0.3630619943141937, 0.39313800632953644, 0.37177449464797974, 0.4040919989347458, 0.4132149964570999, 0.44894200563430786, 0.3067544996738434, 0.3605865091085434, 0.4398624897003174, 0.41031549870967865, 0.3820144981145859, 0.4339814931154251, 0.33611099421977997, 0.35016100108623505, 0.3800494968891144, 0.36542950570583344, 0.42885400354862213, 0.43868349492549896, 0.3676680028438568, 0.36404699087142944, 0.38700999319553375, 0.4421220123767853, 0.3461969941854477, 0.4165000021457672, 0.4358984977006912, 0.36612948775291443, 0.35779400169849396, 0.33596399426460266, 0.35069701075553894, 0.34813249111175537, 0.349869504570961, 0.4288244992494583, 0.3905095010995865]

In [53]:
api_1_df = pd.DataFrame({"Nations ID":nation_ids,
                        "Nation":nations,
                        "State ID":states_ids,
                        "State":states,
                        "Municipality ID":municipality_ids,
                        "Municipality":municipalities,
                        "GINI":ginis})
api_1_df.head()

,Nations ID,Nation,State ID,State,Municipality ID,Municipality,GINI
0,mex,México,19,Nuevo León,19001,Abasolo,0.396089
1,mex,México,19,Nuevo León,19002,Agualeguas,0.428212
2,mex,México,19,Nuevo León,19003,Los Aldamas,0.435469
3,mex,México,19,Nuevo León,19004,Allende,0.340558
4,mex,México,19,Nuevo León,19005,Anáhuac,0.383755

FileNotFoundError: [Errno 2] No such file or directory: 'outputs/dataframe_api_1.csv'

In [48]:
municipality_id_2 = []
municipality_2 = []
populations = []

c = 0
response = requests.get(api_2)
data_2 = response.json()["data"]
data_length = len(data_2)
while c < data_lenght:
    municipality_id_2.append(data[c]['Municipality ID'])
    municipality_2.append(data[c]['Municipality'])
    populations.append(data[c]['Population'])
    c = c + 1

print(municipality_id_2)
print(municipality_2)
print(populations)

[19001, 19002, 19003, 19004, 19005, 19006, 19007, 19008, 19009, 19010, 19011, 19012, 19013, 19014, 19015, 19016, 19017, 19018, 19019, 19020, 19021, 19022, 19023, 19024, 19025, 19026, 19027, 19028, 19029, 19030, 19031, 19032, 19033, 19034, 19035, 19036, 19037, 19038, 19039, 19040, 19041, 19042, 19043, 19044, 19045, 19046, 19047, 19048, 19049, 19050, 19051]
['Abasolo', 'Agualeguas', 'Los Aldamas', 'Allende', 'Anáhuac', 'Apodaca', 'Aramberri', 'Bustamante', 'Cadereyta Jiménez', 'El Carmen', 'Cerralvo', 'Ciénega de Flores', 'China', 'Doctor Arroyo', 'Doctor Coss', 'Doctor González', 'Galeana', 'García', 'San Pedro Garza García', 'General Bravo', 'General Escobedo', 'General Terán', 'General Treviño', 'General Zaragoza', 'General Zuazua', 'Guadalupe', 'Los Herreras', 'Higueras', 'Hualahuises', 'Iturbide', 'Juárez', 'Lampazos de Naranjo', 'Linares', 'Marín', 'Melchor Ocampo', 'Mier y Noriega', 'Mina', 'Montemorelos', 'Monterrey', 'Parás', 'Pesquería', 'Los Ramones', 'Rayones', 'Sabinas Hidalgo', 'Salinas Victoria', 'San Nicolás de los Garza', 'Hidalgo', 'Santa Catarina', 'Santiago', 'Vallecillo', 'Villaldama']
[2639, 2439, 1292, 34353, 18194, 597207, 16152, 3977, 95534, 38306, 7757, 42715, 10835, 34110, 1632, 2861, 41130, 247370, 123156, 5479, 425148, 14795, 1044, 6011, 67294, 682880, 1764, 1511, 6921, 3571, 333481, 5238, 79853, 5630, 955, 6996, 5326, 60829, 1109171, 971, 87168, 4469, 2640, 35456, 54192, 430143, 13836, 296954, 42407, 1632, 4080]

In [52]:
api_2_df = pd.DataFrame({"Municipality ID":municipality_id_2,
                        "Municipality":municipality_2,
                        "Population":populations})
api_2_df.head()

   Municipality ID Municipality  Population
0            19001      Abasolo        2639
1            19002   Agualeguas        2439
2            19003  Los Aldamas        1292
3            19004      Allende       34353
4            19005      Anáhuac       18194