In [19]:
import pandas as pd
import numpy as np

In [20]:
temp_content = pd.read_csv('NL_AYUN_2021.csv', skiprows=5, 
                           names = ['CLAVE_CASILLA','CLAVE_ACTA','ID_ESTADO','ESTADO','ID_MUNICIPIO','MUNICIPIO',
                                    'SECCION','ID_CASILLA','TIPO_CASILLA','EXT_CONTIGUA','UBICACION_CASILLA','TIPO_ACTA',
                                    'TOTAL_BOLETAS_SOBRANTES','TOTAL_PERSONAS_VOTARON','TOTAL_REP_PARTIDO_CI_VOTARON',
                                    'TOTAL_VOTOS_SACADOS','PAN','PRI','PRD','PVEM','PT','MC','MORENA','PANAL','PES',
                                    'RSP','FXM','CI_1','CI_2','C_PRI_PRD','C_PVEM_PT_MORENA_PANAL','C_PVEM_PT_MORENA',
                                    'C_PVEM_PT_PANAL','C_PVEM_MORENA_PANAL','C_PT_MORENA_PANAL','C_PVEM_PT',
                                    'C_PVEM_MORENA','C_PVEM_PANAL','C_PT_MORENA','C_PT_PANAL','C_MORENA_PANAL',
                                    'NO_REGISTRADOS','NULOS','TOTAL_VOTOS_ASENTADO','TOTAL_VOTOS_CALCULADO',
                                    'LISTA_NOMINAL','REPRESENTANTES_PP_CI','OBSERVACIONES','CONTABILIZADA',
                                    'MECANISMOS_TRASLADO','SHA','FECHA_HORA_ACOPIO','FECHA_HORA_CAPTURA',
                                    'FECHA_HORA_VERIFICACION','ORIGEN','DIGITALIZACION','TIPO_DOCUMENTO',])

In [21]:
temp_content

,CLAVE_CASILLA,CLAVE_ACTA,ID_ESTADO,ESTADO,ID_MUNICIPIO,MUNICIPIO,SECCION,ID_CASILLA,TIPO_CASILLA,EXT_CONTIGUA,...,OBSERVACIONES,CONTABILIZADA,MECANISMOS_TRASLADO,SHA,FECHA_HORA_ACOPIO,FECHA_HORA_CAPTURA,FECHA_HORA_VERIFICACION,ORIGEN,DIGITALIZACION,TIPO_DOCUMENTO
0,190001B0100,190001B01004,19,NUEVO LEON,1,Abasolo,1,1,B,0,...,Por CME,1,D,NaN,NaN,09/06/2021 08:26:41,NaN,NaN,NaN,-
1,190001C0100,190001C01004,19,NUEVO LEON,1,Abasolo,1,1,C,0,...,Por CME,1,D,NaN,NaN,09/06/2021 09:45:25,NaN,NaN,NaN,-
2,190002B0100,190002B01004,19,NUEVO LEON,1,Abasolo,2,1,B,0,...,Por CME,1,D,NaN,NaN,09/06/2021 11:00:20,NaN,NaN,NaN,-
3,190002C0100,190002C01004,19,NUEVO LEON,1,Abasolo,2,1,C,0,...,Por CME,1,D,NaN,NaN,09/06/2021 11:58:10,NaN,NaN,NaN,-
4,190003B0100,190003B01004,19,NUEVO LEON,2,Agualeguas,3,1,B,0,...,Por CME,1,D,NaN,NaN,09/06/2021 09:06:21,NaN,NaN,NaN,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6998,192906C0200,192906C02004,19,NUEVO LEON,9,Cadereyta Jimenez,2906,2,C,0,...,Por CME,1,I,NaN,NaN,09/06/2021 16:47:59,NaN,NaN,NaN,-
6999,192906C0300,192906C03004,19,NUEVO LEON,9,Cadereyta Jimenez,2906,3,C,0,...,Por CME,1,I,NaN,NaN,09/06/2021 16:54:10,NaN,NaN,NaN,-
7000,199001B0100,199001B01004,19,NUEVO LEON,26,Guadalupe,9001,1,B,0,...,Por CME,1,I,NaN,NaN,11/06/2021 01:27:19,NaN,NaN,NaN,-
7001,199002B0100,199002B01004,19,NUEVO LEON,26,Guadalupe,9002,1,B,0,...,Por CME,1,I,NaN,NaN,11/06/2021 01:31:43,NaN,NaN,NaN,-
7002,199004B0100,199004B01004,19,NUEVO LEON,32,Juarez,9004,1,B,0,...,Por CME,1,I,NaN,NaN,09/06/2021 22:57:18,NaN,NaN,NaN,-